.title {
  width: 300px;
  text-align: center;
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
.baseStyle {
  width: 180px;
  text-align: center;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.copyButton {
  background-color: #337dff;
  cursor: pointer;
}
.copyButton:hover {
  background-color: #2c6dde;
}

.loading {
  position: relative;
  pointer-events: none;
}

.loading::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
  animation: spin 1s linear infinite;
}
.error {
  background-color: red;
  color: white;
  animation: error 1s infinite;
  pointer-events: none;
}
.ok {
  background-color: green;
  color: white;
  animation: ok 1s infinite;
  pointer-events: none;
}
.autor {
  margin: 20px 0 0 0;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes error {
  0% {
    background-color: red;
  }
  50% {
    background-color: #ff7272; /* Cambia el color de fondo a un tono más claro de rojo */
  }
  100% {
    background-color: red;
  }
}
@keyframes ok {
  0% {
    background-color: green;
  }
  50% {
    background-color: rgb(
      20,
      161,
      20
    ); /* Cambia el color de fondo a un tono más claro de rojo */
  }
  100% {
    background-color: green;
  }
}
